<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<div class="about">
    <div class="textAboutMe">
        <h2>Sobre <span>mi</span></h2>
        <p>
            <b>¡Hola soy Alfonso!</b> <br>
            Estudiante de ultimo semestre del Instituto Tecnologico de San Luis Potosi.
            Me gustan los video juegos asi como el desarrollo, actualmenmte me estoy enfocando
            en el desarollo web.
        </p>
    </div>
    <div class="data">
        <ul>
            <li>
                <span>Edad:</span> {{edad}}
            </li>
            <li>
                <span>Locación:</span> San Luis Potosi, SLP
            </li>
            <li>
                <span>Disponibilidad:</span>
            </li>
        </ul>
    </div>
    <div class="education">
        <h2>Educ<span>ación</span></h2>
        <p>
            <i class="uil uil-book-open"></i> <br>
            Ingeniería en informática
            2017 - actualidad (Ultimo semestre)
            <br><br><br><br><br>
        </p>
        <p>
            <i class="uil uil-arrow"></i> <br>
            He hecho varios cursos de desarrollo web, como son el framework de Angular 12, la libreria de React
            y tengo conocimientos en HTML, CSS. Mis proximos cursos pendiente son el framework de Django y aprender
            sobre MongoDB.
        </p>
    </div>
</div>
<div class="profile">
    <img src="../../../../../assets/AlfonsoV.jpg" alt="personal photo">
    <h1>Alfonso Verastegui</h1>
    <i class="uil uil-facebook"></i>
    <i class="uil uil-twitter"></i>
    <i class="uil uil-github"></i>
    <br><br>
    <h3>Descargar CV</h3>
</div>