<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<div class="skills">
    <h1>Conocimiento</h1>
    <div class="conocimiento">
        <ul>
            <li>
                Aplicaciones de escritorio en Java
                <img src="../../../../../assets/Java.png" alt="">
            </li>
            <li>
                Aplicaciones de escritorio en C
                <img src="../../../../../assets/C.png" alt="">
            </li>
            <li>
                Desarrollo de paginas y aplicaciones WEB con Angular y React
                <img src="../../../../../assets/angular2.png" alt="">
                <img src="../../../../../assets/react.png" alt="">
            </li>
            <li>
                Inglés intermedio
            </li>
        </ul>
    </div>
    <h1>Habilidades</h1>
    <div class="abilities">
        <ul>
            <li>
                Trabajo en equipo
            </li>
            <li>
                Resolucion de problemas
            </li>
            <li>
                Motivación y confianza
            </li>
            <li>
                Comunicación
            </li>
            <li>
                Mejora continua
            </li>
        </ul>
    </div>
</div>